/* Новые стили для навигации */

.navbar {
    display: flex;
    justify-content: 10px;
    align-items: center;
    background-color: #f8f9fa; 
    padding: 10px 20px; 
    margin-right: auto;
  }
  
  .navbar-brand {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: #343a40;
    
  }
  
  .navbar-brand img {
    height: 32px;
    width: auto; 
    margin-right: 10px; 
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-link:hover {
    color: #ff748b; 
  }
  
