/* Новые стили для навигации */

.navbar {
    display: flex;
    justify-content: 10px;
    align-items: center;
    background-color: #f8f9fa; /* Цвет фона навигационной панели */
    padding: 10px 20px; /* Внутренние отступы */
    margin-right: auto;
  }
  
  .navbar-brand {
    display: flex; /* Добавляем flex для .navbar-brand */
    align-items: center; /* Выравниваем элементы по центру */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #343a40; /* Цвет текста */
    
  }
  
  .navbar-brand img {
    height: 32px; /* Высота логотипа */
    width: auto; /* Автоматическая ширина для поддержки адаптивности */
    margin-right: 10px; /* Добавляем отступ справа от логотипа */
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-link:hover {
    color: #ff748b; /* Цвет ссылок при наведении */
  }


.header-controls-pics {
  display: flex;
  max-width: 280px;
  margin-left: auto;
}

.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  background-image: url(./img/header-controls-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-controls-search {
  position: absolute;
  z-index: 1;
  background-position: -64px 0;
}

.header-controls-profile {
  position: relative;
  background-position: -32px 0;
} 

.header-controls-cart {
  position: relative;
  background-position: 0 0;
}

.header-controls-cart-full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
} 
 .header-controls-search-form {
  position: absolute;
  right: 65px;
  top: calc(50% - 19px);
  display: block;
  width: 233px;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: right;
}
/* .header-controls-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #9a3030;
  border: 5px;
  outline: none;
  box-shadow: none;
} */
